* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  width: 100%;
}
.body .sdShow {
  width: 250px;
  padding: 30px 20px;
}
.body .sdHide {
  width: 45px;
  padding: 30px 5px;
}
.body .sideBar {
  height: 100vh;
  background: rgb(2, 30, 46);
  position: relative;
}
.body .sideBar .profilBl {
  display: block;
}
.body .sideBar .profilDn {
  display: none;
}
.body .sideBar .ph {
  opacity: 0;
}
.body .sideBar .profil .images {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
  border: 1px solid white;
  border-radius: 100px;
}
.body .sideBar .profil .images img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
.body .sideBar .profil h1 {
  color: white;
  margin-top: 15px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 26px;
}
.body .sideBar .fa-bars {
  color: white;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 25px;
  margin-left: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.body .sideBar .ms {
  opacity: 0;
}
.body .sideBar .m {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin-top: 40px;
  position: absolute;
  top: 20px;
  right: 10px;
}
.body .sideBar .m h1 {
  margin-top: 10px;
}
.body .sideBar .pages {
  margin-top: 70px;
}
.body .sideBar .pages .page {
  padding: 1px;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 20%, 100% 80%, 91% 100%, 0 100%, 0% 80%, 0% 20%);
          clip-path: polygon(10% 0, 100% 0, 100% 20%, 100% 80%, 91% 100%, 0 100%, 0% 80%, 0% 20%);
  margin-top: 20px;
  border-radius: 2px;
  background: linear-gradient(rgba(134, 7, 50, 0.829), rgb(24, 4, 68), rgb(82, 3, 29));
}
.body .sideBar .pages .page p {
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  border-radius: 2px;
  color: white;
  background: linear-gradient(20deg, rgb(59, 3, 36), rgb(18, 2, 53), rgb(59, 3, 36));
  padding: 10px;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 20%, 100% 80%, 91% 100%, 0 100%, 0% 80%, 0% 20%);
          clip-path: polygon(10% 0, 100% 0, 100% 20%, 100% 80%, 91% 100%, 0 100%, 0% 80%, 0% 20%);
}
.body .sideBar .icoH {
  opacity: 0;
}
.body .sideBar .icLiS {
  display: block;
}
.body .sideBar .icLiH {
  display: none;
}
.body .sideBar .icones {
  color: white;
  position: absolute;
  bottom: 20px;
}
.body .sideBar .icones i {
  margin-left: 15px;
}
.body .icoPS {
  opacity: 100%;
}
.body .icoPH {
  opacity: 0;
}
.body .iconPage {
  margin-top: 110px;
  position: absolute;
  top: 157px;
  left: 5px;
}
.body .iconPage p {
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 20%, 100% 80%, 91% 100%, 0 100%, 0% 80%, 0% 20%);
          clip-path: polygon(10% 0, 100% 0, 100% 20%, 100% 80%, 91% 100%, 0 100%, 0% 80%, 0% 20%);
  margin-top: 25px;
  border-radius: 2px;
  background: linear-gradient(rgba(134, 7, 50, 0.829), rgb(24, 4, 68), rgb(82, 3, 29));
  padding: 11px 5px;
  width: 35px;
  text-align: center;
}
.body .iconPage p .fa, .body .iconPage p .fab {
  color: white;
}
.body .container {
  background: #dfdede;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.body .container .profil-page {
  position: relative;
  height: 100vh;
  padding: 200px 100px;
}
.body .container .profil-page .nom {
  color: rgb(2, 30, 46);
}
.body .container .profil-page .nom .nm {
  display: flex;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.body .container .profil-page .nom .nm h1 {
  font-size: 40px;
}
.body .container .profil-page .nom .nm span {
  width: 600px;
  margin-left: 20px;
  height: 3px;
  background: rgb(2, 30, 46);
}
.body .container .profil-page .nom .name {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  margin-left: 30px;
}
.body .container .profil-page p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 30px 0;
  font-size: 21px;
  color: rgba(1, 19, 29, 0.877);
}
.body .container .profil-page button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 80px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  border: none;
  background: rgb(2, 30, 46);
  cursor: pointer;
}
.body .container .profil-page .down {
  width: -moz-fit-content;
  width: fit-content;
  transform: rotate(90deg);
  position: absolute;
  bottom: 0px;
  left: 500px;
  cursor: pointer;
}
.body .container .profil-page .down p {
  border-radius: 50px;
  background: rgb(2, 30, 46);
  padding: 35px 10px;
  color: white;
  font-size: 12px;
}
.body .container .about-page {
  position: relative;
  height: 100vh;
  padding: 200px 100px;
}
.body .container .about-page .aboutMe {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.body .container .about-page .aboutMe h1 {
  color: rgb(2, 30, 46);
}
.body .container .about-page .aboutMe span {
  width: 500px;
  margin-left: 20px;
  height: 3px;
  background: rgb(2, 30, 46);
}
.body .container .about-page p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 21px;
  color: rgba(1, 19, 29, 0.877);
}
.body .container .about-page .toVision {
  width: -moz-fit-content;
  width: fit-content;
  transform: rotate(90deg);
  position: absolute;
  bottom: 0px;
  left: 450px;
  cursor: pointer;
}
.body .container .about-page .toVision p {
  border-radius: 50px;
  background: rgb(2, 30, 46);
  padding: 35px 10px;
  color: white;
  font-size: 12px;
}
.body .container .about-page .up {
  width: -moz-fit-content;
  width: fit-content;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 0px;
  left: 550px;
  cursor: pointer;
}
.body .container .about-page .up p {
  border-radius: 50px;
  background: rgb(2, 30, 46);
  padding: 35px 10px;
  color: white;
  font-size: 12px;
}
.body .container .compPage {
  padding: 150px 100px 180px 100px;
  position: relative;
}
.body .container .compPage .df {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.body .container .compPage .df h1 {
  color: rgb(2, 30, 46);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
}
.body .container .compPage .df span {
  width: 500px;
  margin-left: 20px;
  height: 3px;
  background: rgb(2, 30, 46);
}
.body .container .compPage .competence {
  display: flex;
  justify-content: space-between;
}
.body .container .compPage .competence .leftComp .lang, .body .container .compPage .competence .rightComp .lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  margin-top: 10px;
}
.body .container .compPage .competence .leftComp .lang h3, .body .container .compPage .competence .rightComp .lang h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.body .container .compPage .competence .leftComp .lang p, .body .container .compPage .competence .rightComp .lang p {
  background: white;
  width: 200px;
  height: 12px;
  position: relative;
}
.body .container .compPage .competence .leftComp .lang p span, .body .container .compPage .competence .rightComp .lang p span {
  background: rgb(2, 30, 46);
  width: 50%;
  height: 100%;
  position: absolute;
  border: 2px solid white;
  border-left: 2px solid rgb(2, 30, 46);
}
.body .container .compPage .competence .leftComp .lang p .html, .body .container .compPage .competence .rightComp .lang p .html {
  width: 85%;
}
.body .container .compPage .competence .leftComp .lang p .css, .body .container .compPage .competence .rightComp .lang p .css {
  width: 70%;
}
.body .container .compPage .competence .leftComp .lang p .sass, .body .container .compPage .competence .rightComp .lang p .sass {
  width: 55%;
}
.body .container .compPage .competence .leftComp .lang p .git, .body .container .compPage .competence .rightComp .lang p .git {
  width: 60%;
}
.body .container .compPage .cm {
  display: flex;
  align-items: center;
  margin-top: 70px !important;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
}
.body .container .compPage .cm button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 80px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  border: none;
  background: rgb(2, 30, 46);
  cursor: pointer;
}
.body .container .compPage .toAbout {
  width: -moz-fit-content;
  width: fit-content;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 0px;
  left: 600px;
  cursor: pointer;
}
.body .container .compPage .toAbout p {
  border-radius: 50px;
  background: rgb(2, 30, 46);
  padding: 35px 10px;
  color: white;
  font-size: 12px;
}
.body .container .compPage .toContact {
  width: -moz-fit-content;
  width: fit-content;
  transform: rotate(90deg);
  position: absolute;
  bottom: 0px;
  left: 500px;
  cursor: pointer;
}
.body .container .compPage .toContact p {
  border-radius: 50px;
  background: rgb(2, 30, 46);
  padding: 35px 10px;
  color: white;
  font-size: 12px;
}
.body .container .contPage {
  padding: 150px 100px;
  position: relative;
}
.body .container .contPage form .mail {
  display: flex;
  align-items: center;
}
.body .container .contPage form .mail label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  margin-right: 10px;
}
.body .container .contPage form .mail input {
  width: 700px;
  height: 30px;
  padding: 0 20px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
}
.body .container .contPage form textarea {
  width: 800px;
  margin-top: 20px;
  height: 150px;
  padding: 10px 20px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
}
.body .container .contPage form .subm {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 80px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  border: none;
  background: rgb(2, 30, 46);
  cursor: pointer;
}
.body .container .contPage .contList {
  margin-top: 80px !important;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  width: 600px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.body .container .contPage .contList .github, .body .container .contPage .contList .mail, .body .container .contPage .contList .insta {
  display: flex;
}
.body .container .contPage .contList .github p, .body .container .contPage .contList .mail p, .body .container .contPage .contList .insta p {
  margin-left: 10px;
}
.body .container .contPage .toComp {
  width: -moz-fit-content;
  width: fit-content;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 0px;
  left: 500px;
  cursor: pointer;
}
.body .container .contPage .toComp p {
  border-radius: 50px;
  background: rgb(2, 30, 46);
  padding: 35px 10px;
  color: white;
  font-size: 12px;
}
.body .container .toTop {
  width: -moz-fit-content;
  width: fit-content;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  opacity: 0;
}
.body .container .toTop p {
  border-radius: 5px;
  background: rgb(2, 30, 46);
  padding: 20px;
  color: white;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */